.container-about{
  background-color: rgb(34, 34, 34);
  width: 100%;
  overflow: hidden;
}

.content-About{
  width: 90%;
  margin: auto;
  min-height: 95vh;
  display: flex;
  align-items: center;
}

.sobreMim{
  color: white;
  width: 50%;
  background-color: rgb(24, 24, 24);
  display: flex;
  flex-direction: column;
  height: 700px;
  box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.329);
  border-radius: 30px;
  padding: 50px;
  margin-right: 20px;
  /* justify-content: center; */

}

.sobreMim span{
  margin-top: 30px;
  font-weight: bold;
  color: rgb(201, 201, 201);
  font-style: italic;
}
.sobreMim h2{
  margin-top: 10px;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}
.sobreMim p{
  line-height: 35px;
  color: rgb(201, 201, 201);
}


.container-about a{
  margin-top: 30px;
  width: 200px;
  padding: 12px;
  font-weight: bold;
  font-size: 1.2em;
  background: linear-gradient(164deg, rgba(208,146,80,1) 25%, rgba(211,126,35,1) 69%);
  border-radius: 30px;
  border: none;
  color: rgb(241, 241, 241);
  box-shadow: 15px 15px 30px rgb(17, 17, 17), -5px -5px 20px rgb(58, 58, 58);
  cursor:pointer;
  transition: all ease 0.2s;
  box-shadow: inset 0px 10px 20px 2px rgb(185, 123, 56);
  text-align: center;
  text-decoration: none;
  
}
.container-about a:hover{ 
  background: linear-gradient(164deg, rgb(207, 142, 72) 25%, rgb(209, 122, 29) 69%);
  transform: scale(1.02);
  color: rgb(255, 255, 255);
  transform: translateY(2px);
  box-shadow: inset 0px 5px 10px 0px rgb(109, 75, 38);
  
}

.skills{
  color: white;
  width: 50%;
  background-color: rgb(24, 24, 24);
  display: flex;
  height: 700px;
  flex-direction: column;
  box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.329);
  border-radius: 30px;
  padding: 32px 50px;
  margin-left: 20px;

}

.skills h2{
  margin-top: 10px;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}

.skills span{
  margin-top: 30px;
  font-weight: bold;
  color: rgb(201, 201, 201);
  font-style: italic;
}

.skills ul{
  display: flex;
  margin: 10px;
  flex-wrap: wrap;
  min-height: 300px;
  list-style: none;
  
}
.skills ul li{
  margin-right: 100px;
  margin-bottom: 30px;
  display: flex;
  width: 50px;
  align-items: center;
  margin-top: 10px;
  
}
.skills ul li:hover{
 transform: scale(1.2);
 border-radius: 50%;

}

.skills ul img{
  width: 100%;
  margin-right: 10px;
}

#sobre{
  color: rgba(250, 235, 215, 0);
}
[data-anime]{
  opacity: 0;
  transition: 0.5s;
  
}
[data-anime="left"]{
  transform: translate3d(-20px, 0, 0);
 
}
[data-anime="right"]{
  transform: translate3d(20px, 0, 0);
}
[data-anime="down"]{
  transform: translateY(150px);
 
  
}
[data-anime].animate{
  opacity: 1;
  transform: translate3d(0px, 0px, 0px);
}


@media only screen and (max-width: 1400px){

  .content-About{
    margin: auto;
    padding: 30px 0px 40px 0px;
    display: flex;
    flex-direction: column;
  }

  .sobreMim{
    margin: auto;
    margin-bottom: 30px;
    width: 80%;
    display: flex;
    justify-content: center;
    height: auto;
  }
 

  .skills{
    margin: auto;
    width: 80%;
    height: auto;
    
  }
}

