


.container-contato{
  background-color: rgb(32, 32, 32);
  width: 100%;
  overflow: hidden;
}


.content-contato{
  min-height: 95vh;
  padding-top: 90px;
 
  width: 90%;
  margin: auto;
  
}

.content-contato h2{
  text-align: center;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  color: white;
  margin-bottom: 50px;
}

.contato{
 display: flex;
 flex-wrap: wrap;
 margin: auto;
 width: 100%;
 justify-content: center;
}

.form-contato{
  max-width: 550px;
  min-width: 450px;
  height: 500px;
  border-radius: 20px;
  margin-left: 40px;
  
}
.form-contato label{
  color: rgb(197, 197, 197);
  font-weight: bold;
}
.form-contato input{
  background-color: #212121;
  border: 1px solid #c07d3565;
  padding: 10px;
  color: rgb(214, 214, 214);
}
.form-contato textarea{
  background-color: #212121;
  border: 1px solid #c07d3565;
  color: rgb(214, 214, 214);
  resize: none;
}
.form-contato textarea:focus, .form-contato input:focus{
  background-color: #333333;
  outline-color: none !important;
  color: rgb(214, 214, 214);
 
}



.container-meu-contato{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 250px;
  margin-right: 40px;

}

.meu-contato{
  width: 250px;
  height: 170px;
  margin-bottom: 25px;
  padding: 10px;
  text-align: center;
  border-radius: 30px;
  background: #212121;
  box-shadow: 15px 15px 30px rgb(25, 25, 25),
              -5px -5px 20px rgb(60, 60, 60);
              color: rgb(207, 207, 207);
}
.meu-contato:hover{
  transform: scale(1.05);
  transition: 0.3s;
}

.icons{
  margin: 10px 0px 12px 0px;
  font-size: 25px;
}
.meu-contato p {
  margin: 0;
  padding: 0;
}
.nome-rede{
  font-weight: bold;
  margin-bottom: 10px;
}

.ende-contato{
  font-size: 12px;
  color: rgb(136, 136, 136);
  margin: 3px 0 10px 0 !important;
}
.meu-contato a{
 text-decoration: none;
}

.button-enviar{
  background: linear-gradient(164deg, rgba(208,146,80,1) 25%, rgba(211,126,35,1) 69%);
  box-shadow: 15px 15px 30px rgba(17, 17, 17, 0.507), -5px -5px 20px rgba(58, 58, 58, 0.671);

}
.button-enviar:hover{
  background: linear-gradient(164deg, rgb(207, 142, 72) 25%, rgb(209, 122, 29) 69%);
  border: none;
  outline: none;
}

@media only screen and (max-width: 1024px){
  .contato{
    flex-direction: column;
    align-items: center;
  }
  .container-meu-contato{
    flex-direction: row;
    width: 100%;
     max-width: 450px;
    min-width: 325px; 
    margin-top: 50px;
    flex-wrap: wrap;
    margin-right: 0;
  }
  .meu-contato{
    width: 100%;
  }

  .form-contato{
    margin-left: 0;
    box-shadow: none;
    background-color: #33333300;
    width: 100%;
    max-width: 450px;
    min-width: 325px; 
  }
}