

.header{
background: linear-gradient(164deg, rgb(22, 21, 22) 38%, rgb(46, 46, 46) 100%);
width: 100%;
  position: fixed;
  z-index: 100;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  padding: 1rem;
}
.header ul{
  margin: 0;
  padding: 0;
}

.header h3{
  color: #ffffff;
  font-size: 1.8rem;
  font-weight: bold;
  animation-name: myPort;
  transform: translate3d(-150px ,0px ,0px);
  animation-duration: .3s;
  animation-fill-mode: forwards;
  margin-bottom: 0px !important;
  margin-left: 80px;
}
.header h3 span{
  color: #d38b3d;
  font-size: 1.8rem;
  font-weight: bold;
  animation-name: myPort;
  transform: translate3d(-150px ,0px ,0px);
  animation-duration: .3s;
  animation-fill-mode: forwards;
  margin-bottom: 0px !important;
}

.listaNavegacao{
  display: flex;
  list-style: none;
  font-weight: bold;
  gap: 3rem;
  opacity: 1;
}
nav{
  margin-right: 50px;
}


@keyframes myPort {
  from{
    opacity: 0;
  }
  to {
    transform: translate3d(0px ,0px ,0px);
    opacity: 1;
  }
}



.listaNavegacao a{
  text-decoration: none;
  color: rgb(207, 207, 207);
  justify-content: center;
  display: block;
  padding: .5rem;
 
}
.listaNavegacao a:hover{
  border-bottom: 2px solid rgba(211,126,35,1);
  border-radius: 8px;
  color: rgb(214, 214, 214);
  transform: scale(1.1);
  transition: .1s;

}
.active{
  border-radius: 1px;
  border-bottom: none !important;
  color: rgb(208,146,80) !important;
  text-shadow: 1px 1px 2px black;
  height: 42px !important;
  transition: .3s;
}
.active:hover{
  border-bottom: 2px solid rgb(255, 255, 255) !important;
  border-radius: 8px;
  transition: .1s;
}

.menu-mobile{
  display: none;
}


#home{
  top: 0;
  position: relative;
  color: #c9680000;
}

@media only screen and (max-width: 900px){
  .header h3{
    margin-left: 0;
  }
  nav{
    margin-right: 0px;
  }
  .listaNavegacao{    
    gap: 1rem;
 
  }
}

@media only screen and (max-width: 600px){
  .header h3{
    margin-left: 0;
  }
  
  .menu-mobile{
    display: flex;
    background: none;
    font-size: 0.5rem;
    border: none;
    cursor: pointer;
    gap: .5rem;
    color: white;
    font-size: 30px;
    align-items: center;
  }
  .iconeHambur:hover{
    background-color: rgba(0, 0, 0, 0.158);
    transform: scale(1.15);
    border-radius: 10px;
    transition: .3s;
  }

  .spanMenu{
    font-size: 1.2rem;
  }
  

  .listaNavegacao{
    display: block;
    visibility: hidden;
    position: absolute !important;
    width: 100%;
    top: 70px;
    right: 0;
    height: 0px;
    background: rgb(33,31,32);
    background: linear-gradient(50deg, rgb(22, 21, 22) 38%, rgb(46, 46, 46) 100%);
    text-align: center;
    overflow-y: hidden;
    transition: .6s;
  }



  .menuAtivo .listaNavegacao{ 
    height: 240px;
    visibility: visible; 
    overflow-y: auto;
  }
  .menuAtivo .listaNavegacao::-webkit-scrollbar{ 
    display: none;
  }

  .listaNavegacao a{
    margin-bottom: 2px;
    padding: 1rem 0;
    border-bottom: 2px solid rgba(255, 255, 255, 0.05);
  }
  .listaNavegacao a:hover{
  width: 100%;
  transform: scale(1);
    
  }  
  .active{
    border-bottom: 2px solid rgba(255, 255, 255, 0.05)!important;
    color: rgb(208,146,80) !important;
    height: 56px !important; 
    transition: .3s;
  }
 
}