.container-projeto{
  background-color: rgb(39, 39, 39);
  width: 100%;
}

.container-projetos{
  min-height: 100vh;
  padding-top: 70px;
  width: 90%;
  margin: auto;
  padding-bottom: 70px;
}

.span-projetos{
  margin-top: 30px;
  font-weight: bold;
  color: rgb(201, 201, 201);
  font-style: italic;
}

.titulo-projetos{
  margin-top: 10px;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  color: rgb(218, 218, 218);
  margin-bottom: 35px;
  text-align: center;
  font-size: 30px;
}

.projetos{
  display: flex;  
  padding: 40px 20px ;
  background-color: rgb(32, 32, 32);
  flex-wrap: wrap;
  box-shadow: 0px 0px 10px rgb(0, 0, 0);
  justify-content: space-evenly;
  border-radius: 50px;
}

.cards-projetos{
  width: 460px;
  border-radius: 5px;
  margin: 25px 0px;
  color: rgb(202, 202, 202);
  position: relative;
  transition: .4s;
  border: 3px solid #8f5f2b75;
  border-radius: 40px;
  overflow: hidden;
}


.cards-projetos:hover{  
  z-index: 50;
}
.cards-projetos:hover .infos-cards h4{
  margin-top: 22px;
}


.card-img{
  width: 100%;
  height: 332px;
  overflow: hidden;
  
}
.cards-projetos::before{
  content: "";
  background: black;
  opacity: 0.20;
  position: absolute;
  width: 100%;
  height: 100%;
  /* transition: 0.4s ease-in-out; */
  
}

.card-img img{
  width: 100%;  
  height: 100%;
  object-fit: cover;
  transition: 0.3s;
  
}
.card-img img:hover{
 transform: scale(1.1);
}


.infos-button{
  position: absolute;
  /* padding: 0px 18px 15px 18px; */
  visibility: hidden;
  opacity: 0;
  transition: 0.3s ease-in-out;
  transform: translateY(-335px);
  height: 340px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.cards-projetos:hover .infos-button{
  visibility: visible;
  opacity: 1;
  /* transition-delay: 0.2s; */
  z-index: 55;
  position: absolute;
  background-color: rgba(24, 24, 24, 0.952);
  box-shadow: 0px 0px 10px #d38a3db7;
}



.infos-cards{
  padding: 0px;
}
.infos-cards p{
  height: 120px;
  overflow: hidden;
  margin-top: 10px;
  margin-left: 12px;
  line-height: 25px;
  word-spacing: 1px;
  display: block;
  padding: 0px 10px;
  /* margin-bottom: 60px; */
}

.buttons-cards{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.buttons-cards button{
  
  padding: 10px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  /* border-top-left-radius: 5px; */
  background-color: rgba(255, 255, 255, 0);
  font-weight: bold;
  
  /* border-radius: 0.5em; */
 border: 2px solid #d38b3d; 
 /* border-bottom: 4px solid black;
  border-right: 4px solid black; */
  border-bottom: none;
  border-right: none;
  border-left: none;
  width: 100%;
  height: 65px;
  /* box-shadow: 0px 0px 10px #d38b3d; */
  color: rgb(206, 206, 206);
  position: relative;
  top: 3px;
}

.buttons-cards :nth-child(1){
  border-right: 1px solid #d38b3d;
}
/* .buttons-cards :nth-child(2){
  border-left: 1px solid #d38b3d;
} */
.buttons-cards:hover :nth-child(1){
  border-left: none !important;
  /* border-right: none !important */
  
}



.buttons-cards:hover :nth-child(2) {
  border-right: none !important;
  border-left: none !important;
  
}




.buttons-cards button:hover{
  border: 2px solid #d38b3d;
  background-color: #5c5c5c3b;
  border-bottom: none !important;
}
.buttons-cards button:active{
  /* box-shadow: 1px 1px 4px #adadadb7,
             -1px -1px 4px #ffffffaf; */
  background-color:#61616144 ;
  
}

.iconBtn-gitHub{
  margin-right: 15px;
  font-size: 22px;
  border: none !important;
}


.infos-cards h4{
  background-color: rgba(26, 26, 26, 0.432);
  height: 55px;
  border-bottom-left-radius: 60px;
  border-bottom-right-radius: 60px;
  font-weight: bold;
  margin-bottom: 10px;
  text-align: center;
  /* padding-top: 9px; */
  color: #d38b3d;
  border-top: none;
  font-size: 25px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.247);
  transition: 0.3s;
  display: flex;
  width: calc(100% - 50px);
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

@media only screen and (max-width: 1400px){
  .cards-projetos{
    width: 460px;
  }

}
@media only screen and (max-width: 1000px){
  .cards-projetos{
    max-width: 460px;
  }

}

@media only screen and (max-width: 600px){
  .cards-projetos{
    width: 360px;
    height: 300px;
  }
}
@media only screen and (max-width: 400px){
 
  .buttons-cards button{
    font-size: 14px;
  }
  
}
